a.social:link, a.social:visited, a.social:active {
	text-decoration: none;
	color:dimgrey;
	font-size: 1.5em;
}
a.social:hover{
	text-decoration: none;
	color:blue;
	font-size: 1.5em;
}
.social-list{
	display: flex;
	list-style: none
}
.social-list.li{
	margin: 0 1em;
}
	